<div class="container main-logo">
  <div class="row">
    <div class="col-md-12">
      <div align="center"><h2>Demo Clock In-Out System</h2></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
      <div class="main-panel card">
        <div class="card-header">
          <h5>Edit Clock Event</h5>
        </div>
        <div class="card-body">
          <%= render 'form', clock_event: @clock_event %>
        </div>
      </div>
    </div>
    <div class="col-md-3">&nbsp;</div>
  </div>
</div>