
@import './bootstrap_custom.scss';

.main-logo {
  margin-top: 25px;
}

.login-panel {
  width: 100%;
  max-width: 360px;
  margin: 20px auto 60px auto;
}

.main-panel {
  width: 100%;
  margin: 20px auto 60px auto;
}

